@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html, body {
    margin: 0;
    padding: 0;
    background-color: #1f1458;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
}

.musix-header{
    text-align: left;
}
.musix-header header{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

/* a seguir, a barra superior horizontal de navegação */

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

/* a barra de pesquisa */

.search input[type=text] {
    width: 200px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.search {
    float: right;
}

.search button {
    background-color: #f2f2f2;
    color: black;
    float: right;
    padding: 5px 10px;
    margin-right: 6px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

/* a seguir, as duas colunas e seus conteúdos */

.container-columns {
    padding: 30px;
}

.left{
    display: inline-block;
    width:73%;
    margin-right: 30px;
    background-color: darkgray;
}

.right {
    display: inline-block;
    width:23%;
    vertical-align: top;
    background-color: darkgray;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

/* do conteúdo da coluna da esquerda */

.img2 {
    float: left;
    padding-right: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.input-submit{
    position: relative;
}

.submit-btn{
    width: 100%;
    height: 40px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover{
}

.review{
    padding-bottom: 20px;
}

.limit-text-lenght {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
    color: white;
}

header > p {
    color: white;
}