<!DOCTYPE html>

<html>

<head>
    <title>Album</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../styles/album.css"/>
</head>

<body>

<div class="wrap">

    <header>
        <p>exemplo</p>
        <nav>
            <ul class="nav_links">
                <li><a href="">Services</a></li>
                <form action="#" class="search">
                    <input type="text" placeholder="Search" name="search">
                    <button>
                        Go
                    </button>
                </form>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <p>exemplo</p>
    </header>

    <div class="container-columns">

        <div class="left col">
            <div class="clearfix">
                <img class="img2" src="../images/pineapple.jpg" alt="Pineapple" width="90" height="90">
                <p>suco de fruta</p>
                <br>
                <br>
                <br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <p>
                <br>
                Review
                <br>
                <a href="">
                    <textarea name="comment" form="user-review"></textarea>
                    <form action="" id="user-review">
                        <div class="input-submit">
                            <button class="submit-btn" id="submit"> </button>
                            <label for="submit">Enviar</label>
                        </div>
                    </form>

                </a>
            </div>
        </div>

        <div class="right col">
            <h2>Artistas top 10 da semana</h2>
            <p>
                1 -- KENGAN
                <br>
                <br>
                2 -- BERNARD
                <br>
                <br>
                3 -- PERRY TROL
                <br>
                <br>
                4 -- JUSE
                <br>
                <br>
                5 -- PISADINHA
                <br>
                <br>
                6 -- RAXEXE
                <br>
                <br>
                7 -- CLEITAN
            </p>
        </div>
    </div>

</div>

</div>

</body>

</html>