<!DOCTYPE html>

<html>

<head>
    <title>Album</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', path='/album.css') }}"/>
</head>

<body>

<div class="wrap">

    <header>
        <div class="musix-header">
            <header>ALBUM</header>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="">Services</a></li>
                <form action="#" class="search">
                    <input type="text" placeholder="Search" name="search">
                    <button>
                        Go
                    </button>
                </form>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <p>exemplo</p>
    </header>

    <div class="container-columns">

        <div class="left col">
            <div class="clearfix">
                <img class="img2" src="images2/{{album.id}}.jpg" width="90" height="90">
                <p>{{album.title}}</p>
                <br>
                <br>
                <br>
                <p>
                    {% for review in reviews %}
                    <div class="review">
                        <p>Review by {{users[review.id_user - 1].user_name}}</p>
                        <a href="http://localhost:8000/album/{{review.id_album}}">
                        </a>
                        <p class="limit-text-lenght">
                            {{review.review_content}}
                        <p>
                        <a href="http://localhost:8000/review/{{review.id}}">
                            <div class="input-submit">
                                <button class="submit-btn" id="submit"> </button>
                                <label for="submit">Ver review completa</label>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                <p>
                <br>
                Review
                <br>
                <a href="">
                    <textarea name="comment" form="user_review"></textarea>
                    <form method="POST" id="user_review">
                        <div class="input-submit">
                            <button class="submit-btn" name="user_review" id="submit"> </button>
                            <label for="submit">Enviar</label>
                        </div>
                    </form>

                </a>
            </div>
        </div>

        <div class="right col">
            <h2>Artistas top 10 da semana</h2>
            <p>
                1 -- KENGAN
                <br>
                <br>
                2 -- BERNARD
                <br>
                <br>
                3 -- PERRY TROL
                <br>
                <br>
                4 -- JUSE
                <br>
                <br>
                5 -- PISADINHA
                <br>
                <br>
                6 -- RAXEXE
                <br>
                <br>
                7 -- CLEITAN
            </p>
        </div>
    </div>

</div>

</div>

</body>

</html>