<!DOCTYPE html>

<html>

<head>
    <title>Musix</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', path='/home.css') }}"/>
    <link rel="stylesheet" href="../styles/home.css"/>

</head>

<body>

<div class="wrap">

    <header>
        <div class="musix-header">
            <header>Musix</header>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="">Services</a></li>
                <form action="#" class="search">
                    <input type="text" placeholder="Search" name="search">
                    <a href="resultado-pesquisa.html">
                        <button>
                            Go
                        </button>
                    </a>
                </form>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <li><a href="http://localhost:8000/profile/{{user_name}}">Perfil</a></li>
    </header>
    
    <div class="container-columns">

        <div class="left col">
            <div class="clearfix">
                {% for review in reviews %}
                <div class="review">
                    <img class="img2" src="{{ url_for('static', path='images/{{review.id_album}}.jpg') }}" width="90" height="90">
                    <p>Review by {{users[review.id_user - 1].user_name}}</p>

                    <a href="http://localhost:8000/album/{{review.id_album}}/{{user_name}}">
                       {{albums[review.id_album - 1].title}}
                    </a>
                    <br>
                    <br>
                    <br>
                    Nota - {{review.rate}}
                    <p class="limit-text-lenght">
                        {{review.review_content}}
                    <p>
                    <a href="http://localhost:8000/review/{{review.id}}">
                        <div class="input-submit">
                            <button class="submit-btn" id="submit"> </button>
                            <label for="submit">Ver review completa</label>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="right">

            <div class="col">
                <h2>Top albums da semana</h2>
                <p>
                    {% for album in albums %}
                        {{album.id}} - {{album.title}}
                        <br>
                        <br>
                    {% endfor %}
                </p>
            </div>

            <div class="between-right-columns">
            </div>

            <div class="col" style="padding-bottom: 10px;">


                <h2>Usuários Recomendados</h2>
                
                {% for user in users %}
                    <p class="profile-name"> {{user.user_name}} </p>
                    <div class="follow-submit">
                        <button class="follow-btn" id="follow"> </button>
                        <label for="follow">seguir</label>
                    </div>
                    <br>
                    <br>
                {% endfor %}

            </div>

        </div>


    </div>

</div>

</div>

</body>

</html>