<!DOCTYPE html>

<html>

<head>
    <title>Musix</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../styles/home.css"/>
</head>

<body>

    <div class="wrap">

        <ul id="nav-bar">
            <li id="nav-left">
                <a href="" class="material-icons nav-left-icon">person</a>
            </li>
            <li id="nav-center">
                <a href="" class="material-icons nav-center-icon" style="color: #22b596;">person</a>
            </li>
            <li id="nav-right">
                <a href="" class="material-icons nav-right-icon" style="color: #22b596;">person</a>
            </li>
        </ul>

        <div class="container-columns">

            <div class="left col">
                <h2>Review by noob</h2>
                <p>
                    Justice finalmente acertou
                    <br>
                    <br>
                    O hyperdrara nãn muda a nova shordagem da Justice. Esta ainda é uma abordagem eletrónica de outros géneros, ainda é
                    uma abordagem mais transparente do disco e de algum pop-rock dos anos 80, mas ao contrário de versões anteriores, eles
                    acrescentaram algo: boas progressbes de acordes. Sim, uma boa escrita de acordes na miragem fol o suficiente para eu
                    pascar de "Naw Justice & chato" para "Now Justice 4 excalente". De repente, vool tam cores requintadas aplicadas à malhoe
                    produção do ramo, e elas estão em todas as faicas.
                    lustice não voltou a 2007, mas uma grande escrita harmónica apnreceu em 2024 como a peça que faltava no quebra-
                    cabeça, resultando em algo absolutamente especial
                </p>
            </div>

            <div class="right col">
                <h2>Artistas top 10 da semana</h2>
                <p>
                    1 -- KENGAN
                    <br>
                    <br>
                    2 -- BERNARD
                    <br>
                    <br>
                    3 -- PERRY TROL
                    <br>
                    <br>
                    4 -- JUSE
                    <br>
                    <br>
                    5 -- PISADINHA
                    <br>
                    <br>
                    6 -- RAXEXE
                    <br>
                    <br>
                    7 -- CLEITAN
                </p>
            </div>
            </div>

        </div>

    </div>

</body>

</html>