<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/credentials.css') }}">
    <title>Login</title>
</head>
<body>
    <form action="{{ url_for('valida_login') }}" method="POST">
        <div class="login-box">
            <div class="musix-header">
                <header>Musix</header>
            </div>
            <div class="login-header">
                <header>Log In</header>
            </div>
            <label for="username" id="login">Usuário</label>
            <div class="input-box">
                <input type="text" class="input-field" name="username" autocomplete="off" required>
            </div>
            <label for="senha" id="password">Senha</label>
            <div class="input-box">
                <input type="password" name="senha" class="input-field" autocomplete="off" required>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">Mantenha-me conectado</label>
                </section>
                <section>
                    <a href="#">esqueceu a senha?</a>
                </section>
            </div>
            <a href="home.html">
                <div class="input-submit">
                    <button class="submit-btn" id="submit"> </button>
                    <label for="submit">Sign In</label>
                </div>
            </a>
            <div class="sign-up-link">
                <p>Não tem uma conta? <a href="signup.html">Sign Up</a></p>
            </div>
        </div>
    </form>
    <script src="./script.js"></script>
</body>
</html>