<!DOCTYPE html>

<html>

<head>
  <title>Musix</title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../styles/profile.css"/>
  <link rel="stylesheet" href="{{ url_for('static', path='/profile.css') }}"/>
</head>

<body>

<div class="wrap">

  <header>
    exemplo
    <nav>
      <ul class="nav_links">
        <li><a href="#">Services</a></li>
        <form action="#" class="search">
          <input type="text" placeholder="Search" name="search">
          <a href="resultado-pesquisa.html">
            <button>
              Go
            </button>
          </a>
        </form>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    exemplo
  </header>

  <div class="container-columns">
    <div class="left col">
      <div class="clearfix">

        <img class="img2" src="../images/pineapple.jpg" alt="Pineapple" width="90" height="90">
        <p>Review by abacaxi</p>

        </div>


      <div class="container">

        <div class="card">
          <p>
            Favoritos
          </p>
        </div>

        <div class="card">
          <p>
            Álbums
          </p>
        </div>

        <div class="card">
          <p>
            Artistas
          </p>
        </div>

      </div>

      </div>
    </div>
  </div>

</div>

</body>

</html>