<!DOCTYPE html>

<html>

<head>
    <title>Musix</title>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../styles/review.css"/>
    <link rel="stylesheet" href="{{ url_for('static', path='/review.css') }}"/>
</head>

<body>

<div class="wrap">

    <header>
        <div class="musix-header">
            <header>Musix</header>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="">Services</a></li>
                <form action="#" class="search">
                    <input type="text" placeholder="Search" name="search">
                    <a href="resultado-pesquisa.html">
                        <button>
                            Go
                        </button>
                    </a>
                </form>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <li><a href="#">Perfil</a></li>
    </header>

    <div class="container-columns">

        <div class="left col">
            <div class="clearfix">
                <div class="review">
                    <img class="img2" src="" width="90" height="90">
                    <p>Review by {{user.user_name}}</p>
                    <a href="album.html">
                        {{album.title}}
                    </a>
                    <br>
                    <br>
                    <br>
                    Nota- {{review.rate}}
                        <p class="limit-text-lenght">
                            {{review.review_content}}
                        </p>   
                </div>
            </div>
        </div>

        <div class="right col">
            <h2>Artistas top 10 da semana</h2>
            <p>
                1 -- KENGAN
                <br>
                <br>
                2 -- BERNARD
                <br>
                <br>
                3 -- PERRY TROL
                <br>
                <br>
                4 -- JUSE
                <br>
                <br>
                5 -- PISADINHA
                <br>
                <br>
                6 -- RAXEXE
                <br>
                <br>
                7 -- CLEITAN
            </p>
        </div>
    </div>

</div>

</div>

</body>

</html>